<%- messages() %>
<div class="login-container">
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else { %>
        <h1>Login</h1>
    <% } %>

    <% if (messages.notice) { %>
        <div class="flash-message">
            <% messages.notice.forEach(function(message){ %>
                <p><%= message %></p>
            <% }) %>
        </div>
    <% } %>

    <form action="/account/login" method="POST">
        <input type="email" name="account_email" placeholder="Enter a valid email address" required>
        <input type="password" name="account_password" placeholder="Password" required
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}">
        <button type="submit">Login</button>
        <p>No account? <a href="/account/register">Sign up?</a></p>
</div>