<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a href="https://cse-340-starter-4pdh.onrender.com/batman">Error Link</a>
</footer>