<h1>Welcome to CSE motors!</h1>
<div id="main">
<span id="littlenav">
<h2>DMC Delorean</h2>
<h3>3 Cup holders</h3>
<h3>Superman doors</h3>
<h3>Fuzzy dice</h3>
<button>Own Today</button>
</span>
<img src="/images/vehicles/delorean.jpg" alt="delorean">
</div>
<section class="content">
    <h3>Delorean Upgrades</h3>
    <h3>DMC Delorean Reviews</h3>
    <span id="upgrades">
    <div class="upgradeimages">
    <img src="/images/upgrades/flux-cap.png" alt="upgrade image">
    <a href="#"><p>Flux Capacitor</p></a>
    </div>
    <div class="upgradeimages">
    <img src="/images/upgrades/flame.jpg" alt="2nd upgrade image">
    <a href="#"><p>Flame Decals</p></a>
    </div>
    <div class="upgradeimages">
    <img src="/images/upgrades/bumper_sticker.jpg" alt="3rd upgrade image">
    <a href="#"><p>Bumper Stickers</p></a>
</div>
<div class="upgradeimages">
    <img src="/images/upgrades/hub-cap.jpg" alt="4th upgrade image">
    <a href="#"><p>Hub Caps</p></a>
</div>
    </span>
    <div class="bulleted-sentences">
    <p>"So fast it's almost like traveling in time". (4/5)</p>
    <p>"Coolest ride on the road." (4/5)</p>
    <p>"I'm feeling McFly!" (5/5)</p>
    <p>"The most futuristic ride of our day."</p>
    <p>"80's livin and I love it!" (5/5)</p>
</div>
</section>