/*colors for the page 00E3FF blue background color and nav 525252*/

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  padding: 20px 20px;
  justify-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}

#motor {
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: 1.8rem;
}

#motor:hover {
  color: blue;
}

#upgrades {
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #00E3FF;
  background-color: #525252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Add some padding to center the button text */
button {
  padding: 15px 30px;
}

/* Hover effect */
button:hover {
  background-color: black;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Active effect */
button:active {
  background-color: #004494;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Focus effect */
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
section {
  text-align: left;
  padding-top: 20px;
}

.upgradeimages {
  background-color: #00BBD4;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.upgradeimages a {
  color: black;
}
#myaccount {
  font-size: 1.0rem;
  text-decoration: none;
  color: black;
}
body {
  background-image: url('/images/site/checkerboard.jpg');
  display: flex;
  padding: 0;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: #525252;
}
#main {
  justify-items: center;
  justify-content: center;
}
#littlenav {
  display: inline-block; /* Allows the span to take specific width and height */
  width: 200px; /* Set the width of the box */
  height: 250px; /* Set the height of the box */
  background-color: rgb(255, 255, 255); /* Semi-transparent background */
  color: rgb(48, 137, 189); /* Text color */
  padding: 10px; /* Padding inside the box */
  border-radius: 5px; /* Optional: Rounded corners */
  text-align: center; /* Center the text */ /* Vertically center the text (height - padding) */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

nav {
  margin: 5px;
  font-size: 1.2rem;
  background-color: #525252;
  text-align: center;
  width: 100%;
}
nav ul li {
  padding-right: 25px;
  padding-left: 25px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
  width: 60%; /* Adjust the width as needed */
  background-color: white;
  border-left: 8px solid #00BBD4; /* Left border */
  border-right: 8px solid #00BBD4; /* Right border */
  padding: 20px; /* Optional: Padding inside the wrapper */
}

header, nav, footer {
  width: 100%;
}

header, footer {
  background-color: white;
  color: black;
  text-align: left;
  padding: 1px;
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  color: #00E3FF;
  background-color: #575757;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bulleted-sentences p {
  position: relative;
}

.bulleted-sentences p::before {
  content: "•"; /* Unicode character for bullet */
  position: relative;
  right: 2px;
  color: black;
  font-size: 20px; /* Adjust size as needed */
  line-height: 1;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 1.0rem;
  font-weight: 650;
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.0rem;
  text-decoration: none;
  text-align: center;
  margin: 5px;
  background-color: #00BBD4;
  padding: 10px;
}
#inv-display a {
  text-decoration: none;
  color: white;
}

#inv-display a:hover {
  color: #00E3FF;
}
#inv-display li {
  list-style-type: none;
  padding: 10px; /* Optional: Remove default padding */
  margin: 10px; /* Optional: Remove default margin */
  background-color: #525252;
}
#inv-display hr {
  width: 40px;
}

.namePrice h2 {
  text-decoration: none;
  color: #00E3FF;
}

.namePrice {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background-color: black;
  padding: 5px;
  padding-bottom: 10px;
  color: white;
}

.vehicle-detail {
  background-color: black;
  padding: 20px;
  color: #00E3FF;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.vehicle-price {
  background-color: #525252;
  padding: 8px;
}

.login-container {
  margin: 15px;
  background-color: black;
  border: 2px solid #00BBD4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #00E3FF;
}

.login-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #525252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.login-container button:hover {
  background-color: #00BBD4;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.login-container .register-link {
  margin-top: 10px;
  text-align: center;
}

.login-container .register-link a {
  color: #00BBD4;
  text-decoration: none;
}

.login-container .register-link a:hover {
  text-decoration: underline;
}
.login-container p {
  color: white;
}

.flash-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.login-container a {
  color: white;
}

.login-container a:hover {
  color: #00E3FF;
}

.register-container {
  margin: 15px;
  background-color: black;
  border: 2px solid #00BBD4;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-container h1 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #00E3FF;
}
.register-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.register-container button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #525252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.register-container button:hover {
  background-color: #00BBD4;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.flash-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

/* Styling for invalid input fields */
input:required:invalid, input:focus:invalid {
  border: 2px solid red;
  background-image: url('/images/invalid.png');
  background-position: right top;
  background-repeat: no-repeat;
}

/* Styling for valid input fields */
input:required:valid {
  border: 2px solid green;
  background-image: url('/images/valid.png');
  background-position: right top;
  background-repeat: no-repeat;
}

.notice {
  color: red;
}

/* Styles for the management view */
.management-container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  color: white;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.management-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #00E3FF;
  margin-bottom: 20px;
}

.management-container p {
  text-align: center;
  font-size: 1.2rem;
  color: #ccc;
}

.management-container table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: #525252;
  color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.management-container table th,
.management-container table td {
  padding: 10px;
  border: 1px solid #00E3FF;
  text-align: center;
}

.management-container table th {
  background-color: #00BBD4;
  color: black;
}

.management-container table td a{
  color: white;
  text-decoration: none;
}

.management-container table td a:hover{
  color: #00E3FF;
  text-decoration: none;
}
.management-container table td {
  background-color: #525252;
  color: #00E3FF;
}

.management-container noscript {
  color: red;
  margin-top: 20px;
}

.management-container ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.management-container ul li {
  background-color: #525252;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.management-container ul li a {
  text-decoration: none;
  color: #00E3FF;
  font-weight: 700;
}

.management-container ul li a:hover {
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Style for the select element */
.management-container select {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #00BBD4;
  border-radius: 5px;
  background-color: #525252;
  color: #00E3FF;
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
}

/* Custom arrow for the select element */
.management-container select::after {
  content: '\25BC'; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Allows clicks to pass through the arrow */
}

/* Style for the select options */
.management-container select option {
  background-color: #525252;
  color: #00E3FF;
}
.classification-container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  color: white;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
}

.classification-container h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
}

.classification-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.classification-container label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.classification-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.classification-container button {
  padding: 10px;
  font-size: 16px;
  color: #00E3FF;
  background-color: #525252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.classification-container button:hover {
  color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.inventory-container {
  background-color: #00E3FF;
  padding: 45px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  color: #525252;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventory-container h1 {
  text-align: center;
  font-size: 2rem;
  color: #525252;
  margin-bottom: 20px;
}

.inventory-container form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.inventory-container label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.inventory-container input,
.inventory-container textarea,
.inventory-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.inventory-container button {
  padding: 15px;
  font-size: 16px;
  color: #00E3FF;
  background-color: #525252;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.inventory-container button:hover {
  color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.notice {
  color: red;
  list-style-type: none;
}

#classificationlist {
  padding: 10px;
}