header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  padding: 20px 20px;
  justify-items: center;
  text-decoration: none;
  margin-bottom: 5px;
  
  
}
.siteName {
  text-decoration: none;
}

button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* Add some padding to center the button text */
button {
  padding: 15px 30px;
}

/* Hover effect */
button:hover {
  background-color: #0056b3;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Active effect */
button:active {
  background-color: #004494;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Focus effect */
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
section {
  text-align: left;
  padding-top: 20px;
}

#myaccount {
  font-size: 1.0rem;
  text-decoration: none;
  
}
body {
  background-image: url('/images/site/checkerboard.jpg');
  display: flex;
  padding: 0;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: black;
  height: 100%;
}

#littlenav {
  display: inline-block; /* Allows the span to take specific width and height */
  width: 200px; /* Set the width of the box */
  height: 250px; /* Set the height of the box */
  background-color: rgb(255, 255, 255); /* Semi-transparent background */
  color: rgb(48, 137, 189); /* Text color */
  padding: 10px; /* Padding inside the box */
  border-radius: 5px; /* Optional: Rounded corners */
  text-align: center; /* Center the text */ /* Vertically center the text (height - padding) */
}

nav {
  font-size: 1.2rem;
  background-color: #333;
  text-align: center;
  width: 100%;
}
nav ul li {
  padding-right: 25px;
  padding-left: 25px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#wrapper {
  height: 100vh;
  width: 70%; /* Adjust the width as needed */
  background-color: white;
  border-left: 5px solid #1bb2ee; /* Left border */
  border-right: 5px solid #1bb2ee; /* Right border */
  padding: 20px; /* Optional: Padding inside the wrapper */
}

header, footer {
  background-color: white;
  color: black;
  text-align: left;
  padding: 1px;
  width: 100%;
}


nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background-color: #575757;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bulleted-sentences p {
  position: relative;

}

.bulleted-sentences p::before {
  content: "•"; /* Unicode character for bullet */
  position: relative;
  right: 2px;
  color: black;
  font-size: 20px; /* Adjust size as needed */
  line-height: 1;
}