<div id="searchbar">
    <h1><%= title %></h1>
    <form action="/inv/search" method="POST">
      <label for="query">Search:</label>
      <input type="text" name="query" id="query" required>
      <button type="submit">Search</button>
    </form>
</div>